<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Send debug messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback.*" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.marklogic.client" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.marklogic.semantics" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="org.apache.http" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="com.marklogic.entityservices" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>